.vscode/

# vim tmp file
.*.sw*

# practice fullcode ignore
practice_code/fullcode.*
practice_code/todo.md


# python cache dir
__pycache__/
.pytest_cache/

# note
ppt/

# java
*.class
practice_code/Solution.java
practice_code/LeetCodeMain.java


.DS_Store
**/.DS_Store
